body {
  font-family: "montserrat";
  margin: 0;
  padding: 0;
  background-color: #f5faff;
}

nav {
  background-color: white;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
nav div {
  display: flex;
}
.sidebar {
  height: 100%;
  width: 256px;
  position: fixed;
  background-color: #234361;
  padding-top: 20px;
  color: white;
  position: fixed;
}
.main-content {
  margin-left: 256px;
}
.thin-section {
  padding: 10px;
  box-shadow: 0px 1px 0px rgba(247, 246, 246, 0.2);
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
}
.thin-section-1 {
  padding: 10px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
}
.thin-section-1 span {
  font-size: 0.8rem;
  margin-right: 20px;
}
.thin-section-1 ul {
  list-style: none;
  margin-left: 10px;
}
.thin-section-1 ul li {
  margin-bottom: 20px;
}

.thin-section-1 ul li img {
  margin-right: 10px;
  float: left;
}
.thin-section-1 ul li i {
  float: right;
}
.thin-section-2 {
  margin-top: 10px;
  padding: 10px;
}

.thin-section-2 div {
  box-sizing: border-box;
  border: 1px solid white;
}
.big-section {
  padding: 20px;
  background-color: white;
  margin-left: 20px;

  margin-right: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label,
form input {
  margin-bottom: 10px;
}

form input {
  padding: 8px;
}
.section-header {
  height: 73px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.big-section-header {
  background-color: #fffbee;
  width: 100%;
  margin-right: 50px;
}
.mainbig-section {
  background-color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.input-box {
  border: 1px solid rgb(231, 230, 230);
}
.input-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: white;
  cursor: pointer;
  border-left: none;
  margin-bottom: 9px;
  margin-right: 20px;
}
.input-button-2 {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: white;
  cursor: pointer;
  border-left: none;
  margin-bottom: 9px;
}
.input-button-2 :hover {
  background-color: red;
  color: white;
}
.input-button-3 {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  background-color: white;
  cursor: pointer;

  margin-bottom: 9px;
}
.input-button-3 :hover {
  background-color: red;
  color: white;
}
.input-button:hover {
  background-color: grey;
}
.input-group {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex: 1;
  border-right: none;
  width: 100%;
}
.input-group-2 {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex: 1;
  border-right: none;
  width: 100%;
}
.input-group-3 {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex: 1;

  width: 100%;
}
.bottomlist li {
  justify-content: space-around;
  margin-right: 100px;
}
.bottomlist li :hover {
  border-bottom: blue;
  cursor: pointer;
}

.btnprimary {
  margin-right: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;

  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
}
.btnprimary:hover {
  background-color: darkblue;
}
.btnsec {
  margin-right: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;

  color: #fff;
  background-color: rgb(255, 166, 0);
  border: 1px solid rgb(255, 187, 0);
  border-radius: 5px;
  cursor: pointer;
}
.btnsec:hover {
  background-color: darkorange;
}
.btn1 {
  margin-right: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;

  color: rgb(233, 231, 231);
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.btn1:hover {
  background-color: darkgrey;
}
